.movie {
  display: inline-flex;
  flex-direction: column;
  margin: 10px;
  border: 1px solid #000;
  box-shadow: 0 2px 2px #ccc;
  width: 320px;
  padding: 20px;
}
img{
  width: 70%;
  height: 300px;
}
.main{
  margin: 15px auto;
}